.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    
    .profile-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 50px;
    }
  }
  